{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-2xl border-b border-slate-700">Contacter-nous</h1>
    <article class="m-4 p-4 border border-slate-700 rounded">
        <h2 class="text-lg italic">Contact</h2>
        <p>vous pouvez nous contacter : </p>
        <ul class="list-disc pl-12">
            <li>par téléphone au 06 21 21 45</li>
            <li>par mail : mèl@lEGume.fake.notsocommercial</li>
        </ul>
    </article>
{% endblock %}