<p class="text-green-500 mr-4">E-Gume</p>
<nav>
    <ul class="flex">
        <li>
            <a class="p-4 hover:bg-green-400 hover:text-white underline"
               href="{{ path('index') }}">
                accueil
            </a>
        </li>
        <li>
            <a class="p-4 hover:bg-green-400 hover:text-white underline"
               href="{{ path('contact') }}">
                contact
            </a>
        </li>
    </ul>
</nav>